@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Single Day', sans-serif;
}

body{
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 100vh;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #DCF2F1;
}

footer  .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr ;
    grid-gap:  20px;
}

footer .container .foo h2{
    position: relative;
    color: #365486;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .foo h2::before{
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 50px;
    height: 2px;
    background-color: #F3D7CA;
}

footer .container .sec p{
    color: #fff;
}

.social{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap:20px;
}

.social li{
    list-style: none;
}
.social li a {
    display: inline-block;
    width: 20px;
    height: 20px;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.social li a:hover{
    background: #c5d2e8;
}

.social li a .fa{
color: #7FC7D9;
align-content: center;
justify-content: center;
font-size: 20px;
}

.icon{
    width:20px;
    align-content: center;
}

.quicklinks{
    position: relative;
}

.quicklinks li {
    list-style: none;
}

.quicklinks li a{
    color: #1d103f;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover{
    color: #365486;
}

.contact{
    position: relative;
}
.contact li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.contact li span:nth-child(1){
    color: #384134;
    font-size: 20px;
}

.contact li span {
    color: #0F1035;
}

.contact a{
    color: #0F1035;
    text-decoration: none;
}

.contact a:hover{
    color: #365486;
}

.copyrightText{
    width: 100%;
    background: #7FC7D9;
    padding: 8px;
    text-align: center;
    color:#0F1035
}

/* responsive*/
@media (max-width: 991px){
    footer{
        padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

    .copyrightText {
        padding: 8px 50px;
    }

}

@media (max-width: 768px){

    footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}

